body {
  text-align: center;
  font-family: Arial;
  background-color: #f0f0f0;
  padding-top: 50px;
}

h1 {
  color: #333;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 8px;
  border: none;
  background-color: #007bff;
  color: white;
}

button:hover {
  background-color: #0056b3;
}

#result {
  margin-top: 30px;
  font-size: 22px;
  color: #000;
}